*/ === Typography === */

body {
font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14pt;
    line-height: 18pt;
    color: #000000;
}

nav a {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 18pt;
    line-height: 18pt;
    color: #cdcdcd;
    text-decoration: none;
}

nav {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 14pt;
    line-height: 22pt;
    color: #000000;
    text-decoration: none;
}

h1 {
    font-family: 'Teko', sans-serif;
    font-size: 72pt;
    line-height: 18pt;
    color: #000000;
}

h2 {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 24pt;
    line-height: 18pt;
    color: #000000;
}

footer {
    font-family: 'Helvetica', 'Arial', sans-serif;
    font-size: 10pt;
    line-height: 18pt;
    color: #ffffff;
    font-style: oblique;
}

*/ === Backgrounds === */

header {
    background-color: #000000;
}

div {
    background-color: #cdcdcd;
}

body {
    background-color: #ffffff;
}

footer {
    background-color: #000000;
}

#splash {
    background-image: url(heading.jpg);
    background-size: cover;
}

nav {
    background-color: black;
    background-size: cover;
}


*/ === Box Model === */

#splash {
    height: 400px;
}

nav {
    padding: 10px;
    
}

footer{
    padding: 10px;
}

#foodarticles {
    padding: 10px;
}

article {
    margin-bottom: 25px;
}

nav a {
    margin-right: 5px;
}

#popup {
    
}

*/ === Layout === */

.floatleft {
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}

article img {
    float: left;
    margin-bottom: 5px;
    margin-right: 15px;
}

#container {
    margin-left: auto;
    margin-right: auto;
    width: 1000px;
    margin: auto;
}

main {
    display: grid;
    grid-template: 75% 25%;
}

#splash{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

aside{
    margin-left: 35px;
}

header {
    position: fixed;
    width: auto;
    top: 0px;
    text-align: center;
}

footer{
    text-align: center;
}

nav {
    left: auto;
    margin-left: 0px;
    width: 1000px;
}

body {
    padding-top: 100px;
}

#advertisement {
    position: fixed;
    bottom: 0px;
    right: 0px;
    background-color: #ff0000;
    padding: 5px;
    max-width: 350px;
}